<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72161992034-5fgngi67fe80sjval668pcbckrevv7fc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72161992034-5fgngi67fe80sjval668pcbckrevv7fc</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Jj_JoIvCIhubOGsk4bvzmCP-FXJCyHw</string>
	<key>GCM_SENDER_ID</key>
	<string>72161992034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nakagawa.CleanArchitectureForSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>cleanarchitectureforswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanarchitectureforswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72161992034:ios:7d5dc05371cc0539a6e03b</string>
</dict>
</plist>